{# empty Twig template #}

 <div class="row" hidden="true">
                <div id="morris-area-chart"></div>
                <div id="morris-bar-chart"></div>
                <div id="morris-donut-chart"></div>
            </div>